<!-- MailChimp Signup Form -->
<div id="mc_embed_signup" class="ui signup segment">
  <form
    action="//runsimmer.us9.list-manage.com/subscribe/post?u=2bfc8f96355c2c2b2c52a5dd8&amp;id=6e9df4edea"
    method="post" class="ui form validate" target="_blank" novalidate>
    <div>
      <div class="ui header">Subscribe to our mailing list</div>

      <div class="ui form">
        <div class="field">
          <input type="email" placeholder="Enter email address" name="EMAIL" />

          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
        <input type="submit" name="subscribe" value="Sign me up!" class="ui orange submit button" />
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <!-- Bot prevention. -->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_2bfc8f96355c2c2b2c52a5dd8_6e9df4edea" tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>
