<div class="ui vertical segment section alternate byline">
  {% for person in site.data.staff %}
  <img class="ui circular avatar image" src="{{person[1].avatar}}">

  <div class="member info">
    <div class="name">{{person[1].name}}</div>
    <div class="position">{{person[1].position}}</div>
    <div class="description">{{person[1].description}}</div>
    <div class="social">
      {% for service in person[1].social %}
      <a href="{{service[1]}}"><i class="{{service[0]}} sign icon"></i></a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
