<div id="contact-form" class="ui segment">
  <form class="ui form" method="POST" action="//forms.brace.io/contact@runsimmer.com">
    <h2>Contact Us</h2>

    <div class="field">
      <label>You email address:</label>

      <div class="ui labeled input">
        <input type="email" name="_replyto">

        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Message:</label>

      <div class="ui labeled input">
        <textarea name="body"></textarea>

        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>

    <div class="submit field">
      <input class="ui orange button" type="submit" value="Send" />
    </div>
  </form>
</div>
