// TEXT
// Color
$primary-color: #333;
$primary-color-subtle: #888;

// Size
$primary-size: 16pt;

// Face
$body-family: "Lato", serif;
$heading-family: "Latin Modern", serif;

$huge: 2em;
$larger: 1.5em;
$large: 1.25em;
$normal: 1em;
$small: 0.85em;
$smaller: 0.7em;
$tiny: 0.5em;
